/* navAvatar.css */

.nav-link {
  color: #495057;
  padding: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.nav-profile {
  position: relative;
}

.nav-profile img {
  border: 2px solid #007bff; /* Optional border color */
}

.dropdown-menu {
  min-width: 250px; /* Adjust width as needed */
  padding: 0;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 5px;
}

.dropdown-header {
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: bold;
  background-color: #f8f9fa;
  border-bottom: 1px solid #e9ecef;
}

.dropdown-header h6 {
  margin: 0;
}

.dropdown-divider {
  margin: 0;
}

.dropdown-item {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #495057;
}

.dropdown-item:hover {
  background-color: grey !important;
}
.header.dark-mode, .sidebar.dark-mode, .main.dark-mode, .footer.dark-mode {
  background-color: #333333;
  color: #ffffff;
}


.dropdown-item i {
  font-size: 1.2rem;
}

.dropdown-item span {
  margin-left: 10px;
}

.dropdown-footer {
  padding: 10px 15px;
  background-color: #f8f9fa;
  text-align: center;
  border-top: 1px solid #e9ecef;
}

.dropdown-footer a {
  color: #007bff;
  text-decoration: none;
}

.dropdown-footer a:hover {
  text-decoration: underline;
  color: #007bff;
}
