 .info-card {
    padding-bottom: 10px;
}

.info-card h6 {
    font-size: 28px;
    color:#012970;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.card-icon {
    font-size: 32px;
    line-height: 0;
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    flex-grow: 0;
}

.sales-card .card-icon {
    color: #4154f1;
    background:#f6f6f6;
}

.revenue-card .card-icon {
    color: #2eca6a;
    background:#e0f8e9;
}
.customers-card .card-icon {
    color: #ff771d;
    background:#ffecd4;
}
.header.dark-mode, .sidebar.dark-mode, .main.dark-mode, .footer.dark-mode {
  background-color: #333333;
  color: #ffffff;
}
