/* recentSales.css */

.recent-sales-card {
    font-size: 14px;
}

.recent-sales-card .table thead {
    background-color: #f6f6f6 !important;
}

.recent-sales-card .table thead th {
    border: 0;
}

.recent-sales-body {
    padding: 10px;
}

.recent-sales-title {
    font-size: 16px;
}

.recent-sales-filter {
    font-weight: bold;
}

.dataTable-top {
    padding: 0 0 10px 0;
}

.dataTable-bottom {
    padding: 10px 0 0 0;
}
.header.dark-mode, .sidebar.dark-mode, .main.dark-mode, .footer.dark-mode {
  background-color: #333333;
  color: #ffffff;
}
