/* Container for the budget chart */
#budgetCharts {
    width: 200%;
    height: 400px;
    margin: 20px auto; 
    background-color: #f9f9f9; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 10px;
}


@media (max-width: 768px) {
    #budgetCharts {
        height: 300px; 
    }
}

@media (max-width: 480px) {
    #budgetCharts {
        height: 250px; 
    }
}


.header.dark-mode, .sidebar.dark-mode, .main.dark-mode, .footer.dark-mode {
  background-color: #333333;
  color: #ffffff;
}
